.c-compute {
    background-color: var(--black--first);
    padding: 0.4rem 1rem;
    /* display: grid; */
    grid-template-columns: minmax(0px, 50px) repeat(2, 1fr);
    font-size: 1.8rem;
    font-weight: 300;
    transition: all 0.5s linear;
    overflow: hidden;
}

.c-compute span {
    letter-spacing: 0.1rem;
    color: var(--default-text-color);
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-compute>button {
    background-color: unset;
    font-size: 1.2rem;
    color: var(--default-text-color);
}

.c-compute span::-webkit-scrollbar {
    display: none !important;
}